<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">


<head th:replace="fragments1::html_head">



</head>


<body>

	<div th:replace="fragments1::menubar"></div>

	<div class = "container mb-5 mt-5">

		<div class = "row">
		
			<div class = "col-md-4"></div>
		
			<div class = "col-md-4 text-center">
			
				<div class = "emptyCart" ><span class = "fa fa-shopping-cart emptyCart1" aria-hidden = "true"></span></div>
				<h3 class = "mt-2">Your cart is empty!</h3>
				<p><a class="btn btn-warning" th:href="@{/}">Start Shopping</a></p>
			
			</div>
			
			<div class = "col-md-4"></div>
		
		</div>
	
	</div>
	
	<div th:replace="fragments1::javascript"></div>
	
</body>


<footer th:replace="fragments1::html_foot"> </footer>


</html>
