<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">


<head th:replace="fragments1::html_head">

</head>


<body>

	<div th:replace="fragments1::menubar"></div>


	<div class="container">

		<div class="row">

			<div class="col-md-4"></div>

			<div class="col-md-4">

				<div align="center">

					<h1><strong>500</strong></h1>
					<p>

						Please try again in a few minutes, if the error persists <a th:href = "@{/}">contact us</a> for support. 

					</p>
					<p><a type="button" class="btn btn-link" th:href = "@{/}"> Go Home</a><p>

				</div>


			</div>

			<div class="col-md-4"></div>

		</div>

	</div>





	<div th:replace="fragments1::javascript"></div>

</body>


<footer th:replace="fragments1::html_foot"> </footer>


</html>
