<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">


<head th:replace="fragments1::html_head">

</head>


<body>

	<div th:replace="fragments1::menubar"></div>

	<div class="container-fluid">
		<div class="row">
			<div class="col-md-12 col-lg-12 justify-content-center">
				<h2 class="section-headline">
					<span>User Account</span>
				</h2>
				<hr style="height: 3px; width: 100%; margin-top: -20px;" />
			</div>

		</div>


		<div class="row">
			<div class="col-md-12 col-lg-12 w-100">
				<img th:src="@{/Images/wood.jpg}" alt=""
					style="width: 100%; height: 100px; !important"
					class="img-thumbnail" title="" />

			</div>

		</div>


		<div class = "row" style = "margin-top:10px;">
			<div class = "col-md-12">
				<div class = "alert alert-success">
					<h3><i class = "fa fa-check" aria-hidden = "true" style = "color:limegreen;"></i>
						Thank you, your order has been placed.
					</h3> <h4>The estimated delivery date is <span th:text = "${estimatedDeliveryDate}"></span></h4>
				</div>
				
				<h3>List of Items</h3>
				<div class = "row" th:each = "cartItem : ${cartItemList}">
					<hr/>
												
					<div class="col-md-8">
						<a th:href="@{productDetail(id = ${cartItem.product.id})}"> 
						
						<img class="card-img" th:src="@{'https://res.cloudinary.com/azostore/image/upload/c_fill/product'+ ${cartItem.product.id}+'.jpg'}" style = "width:100px !important; height:100px !important;"  alt="Product Picture" />
						</a>
			
					</div>
					
					
					<div class="col-md-2">
						<h5  style = "font-size:large;" th:text = "${cartItem.qty}"></h5>
					</div>
					

					<div class="col-md-2">
						<h5 style="color: #db3208; font-size: large;">
							$<span th:text="${cartItem.product.ourPrice}" style=""></span>
						</h5>

					</div>

												
					</div>
						
						
					</div>
				</div>
			</div>
		





















	<div th:replace="fragments1::javascript"></div>

</body>


<footer th:replace="fragments1::html_foot"> </footer>


</html>
