<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">


<head th:replace="fragments1::html_head">

</head>


<body>

	<div th:replace="fragments1::menubar"></div>

	<div class="container-fluid mb-5 mt-4">
		<div class="row">
			<div class="col-md-12 col-lg-12 text-center">
				<h2>
					<span
						style="border: 1px solid #ebebeb; background-color: #ebebeb; opacity: 1; padding: 10px;">User
						Account</span>
				</h2>
				<hr
					style="height: 3px; width: 100%; margin-top: -25px; opacity: 0.1;" />
			</div>

		</div>


		<div class="row">
			<div class="col-md-12 col-lg-12 w-100">
				<img th:src="@{/Images/wood.jpg}" alt=""
					style="width: 100%; height: 100px; !important"
					class="img-thumbnail" title="" />

			</div>

		</div>


		<div class="row w-100">

			<div class="col-md-12 col-lg-12 col-md-offset-3 col-lg-offset-3">

				<ul class="nav nav-tabs" id="myTab" role="tablist">


					<li role="presentation"><a class="nav-link"
						th:classappend="${classActiveNewAccount}? 'active'"
						th:href="@{#tab1}" data-toggle="tab"><span style="color: red;">Create
								new account</span></a></li>



					<li role="presentation"><a class="nav-link"
						th:classappend="${classActiveLogin}? 'active'" th:href="@{#tab2}"
						data-toggle="tab"><span style="color: red;">Log in</span></a></li>



					<li role="presentation"><a class="nav-link"
						th:classappend="${classActiveForgetPassword}? 'active'"
						th:href="@{#tab3}" data-toggle="tab"><span style="color: red;">Forget
								Password</span></a></li>

				</ul>


				<div class="tab-content">

					<!-- Create a new User -->
					<div class="tab-pane" id="tab1"
						th:classappend="${classActiveNewAccount}? 'active' ">
						<div class="panel-group">
							<div class="panel panel-default">
								<div class="panel-body" style="margin-top: 20px;">
									<div th:if = "${error}" style = "color:red" >
										Please correct the problems below and re-send.
										</div>
									<div class="alert alert-info" th:if="${emailSent}">An
										email has been sent to email address you just registered.
										Please validate your email address and update your password
										information.</div>
									<form th:action="@{/newUser}" method="post">
										<div class="form-group">
											<label for="newusername">* Username</label> &nbsp; <span
												style="color: red;" th:if="${usernameExists}">Username
												already exists. Choose a different one.</span> <input
												required="required" type="text" class="form-control"
												id="newusername" name="username" />
											<p style="color: #828282;">Enter your username here.</p>
										</div>

										<div class="form-group">
											<label for="email">* Email Address</label> &nbsp; <span
												style="color: red;" th:if="${emailExists}">Email
												already exists. Choose a different one.</span> <input
												required="required" type="text" class="form-control"
												id="email" name="email" />
												<p style = "color:red" th:if = "${error}">
												Use a well formed email address</p>
											<p style="color: #828282;">A valid email address. All
												emails from the system will be sent to this address. The
												email address is not made public and will only be used if
												you wish to receive a new password or wish to receive
												certain notification.</p>

										</div>

										<button type="submit" class="btn btn-success">Create
											a new account.</button>

									</form>
								</div>
							</div>
						</div>
					</div>


					<!-- End of new User -->





					<!-- User Log in -->

					<div class="tab-pane " id="tab2"
						th:classappend="${classActiveLogin}? 'active'">
						<div class="panel-group">
							<div class="panel panel-default">
								<div class="panel-body" style="margin-top: 20px;">
									
									<!-- <marquee>Hello! Please Login</marquee> -->
																	
							
									<!--  	<div th:if="${param.error != null}" style="color: red;">
									Incorrect
										Username or password</div> -->
									<div th:if = "${param.error != null}" style="color: red;">[[${session.SPRING_SECURITY_LAST_EXCEPTION.message}]]</div>
									<form th:action="@{/login}" method="post" class = "mb-5">
										<div class="form-group">
											<label for="newUsername">* Username</label> <input
												required="required" type="text" class="form-control"
												id="newUsername" name="username" />
											<p style="color: #828282;">Enter your username here.</p>
										</div>

										<div class="form-group">
											<label for="password">* Password</label> <input
												required="required" type="password" class="form-control"
												id="password" name="password" />
											<p style="color: #828282;">Enter the password that
												accompanies your username.</p>

										</div>
										
										<p><input type = "checkbox" name = "remember-me" /> Remember me on this device</p>

										<button type="submit" class="btn btn-success">Log in</button>

									</form>
									
									<hr style = "margin-bottom:-10px;" />
									<div class = "container-fluid">
										<div class = "row">
											<div class = "col-md-12">
												
												<div align = "center" style = "margin-top:-1px;"><strong>OR</strong></div>
											</div>
										</div>
									
										<div class = "row my-3">
											<div class = "col-md-12" align = "center">
												<span><a type = "button" th:href = "@{/oauth2/authorization/google}" class="btn btn-outline-success" ><i class = "fa fa-google" aria-hidden = "true" ></i>&nbsp;&nbsp;
												&nbsp;&nbsp;&nbsp;&nbsp; Login with Google</a>
												</span>
											</div>
											
										</div>
									</div>
								
									
									
									
								</div>
							</div>
						</div>
					</div>


					<!--End of User Log in -->




					<!-- Forget Password -->

					<div class="tab-pane" id="tab3"
						th:classappend="${classActiveForgetPassword}? 'active'">
						<div class="panel-group">
							<div class="panel panel-default">
								<div class="panel-body" style="margin-top: 20px;">
									<div th:if="${emailNotExist}" class="alert alert-danger">Email
										doesn't exist</div>
									<div th:if="${forgetPasswordEmailSent}"
										class="alert alert-success">Email sent</div>
									<form th:action="@{/forgetPassword}" method="post">
										<div class="form-group">
											<label for="recoverEmail">* Your Email:</label> <input
												required="required" type="text" class="form-control"
												id="recoverEmail" name="email" />
											<p style="color: #828282;">Enter your registered email
												address here.</p>
										</div>


										<button type="submit" class="btn btn-success">Submit</button>

									</form>
								</div>
							</div>
						</div>
					</div>


					<!-- End of Forget Password -->


				</div>


			</div>

		</div>


	</div>

















	<div th:replace="fragments1::javascript"></div>
	<!-- <script>
		$(function() {
			$('#myTab a[href="#tab2"]').tab('show')
		})
	</script>  -->



</body>


<footer th:replace="fragments1::html_foot"> </footer>


</html>
