<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments1::html_head"></head>

<body>

	<div th:replace="fragments1::menubar"></div>

	<form th:action="@{/shoppingCart/updateCartItem}" method="post" id = "myform" class = "mb-5 mt-3">
	<div class = "container">
					<div class="row">
						<div class="col-sm-6 text-left">
							<a class="btn btn-warning" th:href="@{/}">Continue
								Shopping</a>
						</div>
						<div class="col-sm-6 text-right">
							<a class="btn btn-primary"
								th:href="@{/checkout(id=${shoppingCart.id})}">Check Out</a>
						</div>
					<br />

					<div th:if="${notEnoughStock}" class="alert alert-warning">
						Oops, some of the product do not have enough stock. Please update product
						quantity.</div>

					<div th:if="${emptyCart}" class="alert alert-warning">
						Oops, your cart is empty. See if you can find what you like on the
						home page and add them to cart.
					</div>

					</div>
		
	
	
	
	<table class="table">
	<thead>
		  
    <tr>
      <th scope="col">Products</th>
      <th scope="col">Price</th>
      <th scope="col">Qty</th>
      
    </tr>
  </thead>
  <tbody>
    <tr  th:each="cartItem : ${cartItemList}">
      
      <td>
      	
								
								<a th:href="@{productDetail(id = ${cartItem.product.id})}">
								
								<img class="card-img-top" th:src="@{'https://res.cloudinary.com/azostore/image/upload/c_fill/product'+ ${cartItem.product.id}+'.jpg'}" style = "max-width:200px; height:200px;"  alt="Product Picture" />

								</a>

								<p th:if="${cartItem.product.inStockNumber&gt;10}"
									style="color: green;">In Stock</p>
								<p
									th:if="${cartItem.product.inStockNumber&lt;10 and cartItem.product.inStockNumber&gt;0}"
									style="color: green;">
									Only <span th:text="${cartItem.product.inStockNumber}"></span>In
									Stock
								</p>
								<p th:if="${cartItem.product.inStockNumber==0}"
									style="color: darked;">Product Unavailable</p>
									
								
								
								<p><a class="btn btn-danger btn-md" th:href = "@{/shoppingCart/deleteCartItem/} + ${cartItem.id}">Delete Item</a></p>
								
						
				
      	
      
      </td>
      
      <td>
      
      	<h5 style="color: #db3208; font-size: large;">
						#<span th:text= "${#numbers.formatDecimal(cartItem.product.ourPrice,0,'COMMA',2,'POINT')}" ></span>
			</h5>
							
      
      </td>
      
      
      <td>
      
      	<input hidden="hidden" name="id" th:value="${cartItem.id}" /> <input
									th:id="${cartItem.id}" th:name="qty"
									th:disabled="${cartItem.product.inStockNumber == 0}"
									class="form-control cartItemQty" th:value="${cartItem.qty}" />
								<button style="display: none;"  type="submit" th:id="'update-item-' + ${cartItem.id}"
									class="btn btn-warning btn-md">Update</button>
									
									 
							
      
      </td>
      
    </tr>
    
  </tbody>
</table>
	
	
	<div class="row">
						
						<h4 class="col-12 text-right">
							<strong style="font-size: large;">Total Price (<span
								th:text="${#lists.size(cartItemList)}"></span> items):
							</strong><span style="color: #db3208; font-size: large;">#<span
								th:text="${#numbers.formatDecimal(shoppingCart.grandTotal,0,'COMMA',2,'POINT')}"></span></span>
						</h4>
					</div>
	
					
	</div>
	
	
</form>

				











	<div th:replace="fragments1::javascript"></div>
	
	
	
</body>


<footer th:replace="fragments1::html_foot"> </footer>


</html>
